amqp==5.0.6
billiard==3.6.4.0
cairocffi==1.2.0
CairoSVG==2.5.2
celery==5.1.2
cffi==1.14.6
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
cssselect2==0.4.1
defusedxml==0.7.1
Flask==2.0.1
Flask-JWT==0.3.2
Flask-WeasyPrint==0.6
html5lib==1.1
itsdangerous==2.0.1
Jinja2==3.0.1
kombu==5.1.0
MarkupSafe==2.0.1
Pillow==8.3.1
prompt-toolkit==3.0.19
psycopg2==2.9.1
pycparser==2.20
PyJWT==1.4.2
pyphen==0.11.0
python-dotenv==0.17.1
pytz==2021.1
six==1.16.0
tinycss2==1.1.0
vine==5.0.0
wcwidth==0.2.5
WeasyPrint==52.5
webencodings==0.5.1
Werkzeug==2.0.1